---
title: Why 2022 was a record-breaking year in bug bounty awards
author: Nick Malcolm
author_gitlab: nmalcolm
author_twitter: nickmalcolm
categories: security
tags: security, bug bounty, community
description: Find out about the researchers who together earned more than $1
  million USD in prizes and their bug hunting contributions.
image_title: /images/blogimages/inside-gitLab-public-bug-bounty-program.png
twitter_text: In 2022, @gitlab's bug bounty program awarded over $1 million USD!
  Read through the highlights and celebrate the contributions of the bug bounty
  hunters who make it all possible.
---
Each year, GitLab's [Application Security team](/handbook/security/security-engineering-and-research/application-security/) likes to recap the highlights from GitLab's bug bounty program.

It's been a busy 2022 for security teams across the industry, and we have been fortunate to receive a huge number of excellent reports that help us keep GitLab and its customers secure. With the [increase we made to our bug bounty award amounts](/blog/2021/11/01/3rd-annual-bug-bounty-contest/#-increased-bounties-across-all-bounty-ranges-) in November 2021 and increased researcher engagement, we've broken a new record by **awarding over $1 million USD** in bounties during 2022!

We wouldn't be where we are without the collaboration of our bug bounty community, and we consider these awards as hugely beneficial and money well spent.

## 2022 by the numbers

<!---

SSoT for amounts is https://hackerone.com/gitlab/analytics/explore
It includes reports made prior to 2022 but where the resolution and payout were in 2022. It also includes valid but still unresolved reports where partial or full award has already been made.

SSoT for top researchers is https://hackerone.com/gitlab/program_statistics

SSoT for non-confidential ~hackerone issues is https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=created_date&state=all&label_name%5B%5D=HackerOne&confidential=no&first_page_size=100
The count is the number of non-confidential ~hackerone issues created in 2022 (open + closed)

SSoT for number of reports and researchers is https://gitlab.com/gitlab-com/gl-security/appsec/tooling/h1-stats/-/tree/master/ruby

SSoT for Ultimate licenses is via https://about.gitlab.com/handbook/engineering/security/security-engineering-and-research/application-security/runbooks/hackerone-process.html#awarding-ultimate-licenses

-->
- Awarded a total of $1,055,770 USD in bounties across 221 valid reports, up from $337,780 last year!
- Three researchers earned $100,000+ USD across their multiple reports, and another seven earned over $20,000 USD.
- Received a total of 920 reports from 424 researchers in 2022.
- Resolved 158 valid reports and made 94 public - this year, we received a number of information leak reports which, unlike vulnerabilities, don't need a public GitLab issue.
- Had 138 security researchers submit more than one report this year, signaling a positive commitment to our program.
- Awarded eight GitLab Ultimate licenses to researchers who submitted three or more valid reports.

_Note: Data is accurate as of December 16, 2022._

You can see program statistics updated daily on our [HackerOne program page](https://hackerone.com/gitlab). That's also the place to get started with our program if you want in on the action!

## Reports and reporters that stood out

<i class="fas fa-address-card fa-fw" style="color:rgb(46,46,46); font-size:1.0em" aria-hidden="true"></i> **Most valid reports to our program.** Congratulations to [@joaxcar](https://hackerone.com/joaxcar) who made 22 valid and now-resolved reports in 2022.

<i class="fas fa-address-card fa-fw" style="color:rgb(46,46,46); font-size:1.0em" aria-hidden="true"></i> **Most valid reports from a newcomer to our program.** Welcome and congratulations to [@albatraoz](https://hackerone.com/albatraoz) who made seven valid and now-resolved reports in 2022.

<i class="fas fa-pencil-alt fa-fw" style="color:rgb(219,58,33); font-size:1.0em" aria-hidden="true"></i> **Best written report.** Well done and thank you [@yvvdwf](https://hackerone.com/yvvdwf) for writing up a really interesting [remote code execution bug](https://gitlab.com/gitlab-org/gitlab/-/issues/371098). The walkthrough of the code and root cause, the scripts to create a dummy malicious server, and the collaboration with our AppSec team during validation was fantastic!

<i class="far fa-lightbulb fa-fw" style="color:rgb(252,161,33); font-size:1.0em" aria-hidden="true"></i> **Most innovative report.** High five, [@vakzz](https://hackerone.com/vakzz), who captured the flag with a [novel local `git` read vulnerability](https://gitlab.com/gitlab-org/gitlab/-/issues/372165)! He also did [a neat followup](https://gitlab.com/gitlab-org/gitlab/-/issues/371884) to `@yvvdwf`'s RCE mentioned above.

<i class="fas fa-exclamation fa-fw" style="color:rgb(252,109,38); font-size:1.0em" aria-hidden="true"></i> **Most impactful finding.** We're thrilled to recognize [@taraszelyk](https://hackerone.com/taraszelyk), whose back-to-back information disclosure submissions led to a lot of positive security changes within GitLab. Thanks, Taras!

We will be getting in touch with these researchers to send out [GitLab Swag Shop](https://shop.gitlab.com) vouchers as a token of our appreciation.

## Changes made in 2022

- We adopted HackerOne's Gold Standard Safe Harbor statement. See [this announcement from HackerOne](https://www.hackerone.com/press-release/hackerone-announces-gold-standard-safe-harbor-improve-protections-good-faith-security).
- We introduced [a $20,000 USD capture the flag bonus](https://hackerone.com/gitlab#user-content-capture-the-flag-for-20000), which was [captured once](https://gitlab.com/gitlab-org/gitlab/-/issues/372165).
- We created [HackerOne Questions](https://gitlab.com/gitlab-com/gl-security/appsec/hackerone-questions/), a dedicated space for getting in touch with the AppSec team outside of HackerOne reports.
- Created ["Reproducible Vulnerabilities"](/handbook/security/security-engineering-and-research/application-security/reproducible-vulnerabilities.html), a brand-new learning resource in our handbook structured with expandable hint sections so that you can challenge yourself and learn how to find real security bugs.
- Continued to iterate transparently on our [HackerOne triage process](https://gitlab.com/gitlab-com/www-gitlab-com/-/commits/master/sites/handbook/source/handbook/security/security-engineering-and-research/application-security/runbooks/hackerone-process.html.md), and on our [Bug Bounty Calculator](https://gitlab.com/gitlab-com/gl-security/appsec/cvss-calculator/-/commits/master), including standardized amounts for non-vulnerability reports like information leaks.

This year, we also continued to provide content that helps both researchers and other organizations running bug bounty programs:

- GitLab Blog: ["Want to start hacking? Here's how to quickly dive in"](/blog/2022/07/27/cracking-our-bug-bounty-top-10/)
- GitLab Blog: ["How GitLab handles security bugs (and why it matters)"](/blog/2022/02/17/how-gitlab-handles-security-bugs/)
- YouTube: [NullCon 2022 Video Panel: "CXO Panel: Bug Bounty? Great! Now What?"](https://www.youtube.com/watch?v=uqvaiml1iV4)

As always, it is a real pleasure to work with the best security researchers our industry has to offer, including many newcomers. GitLab's AppSec team is committed to being an industry leader when it comes to the transparency of our bug bounty program and the awards given. [Let us know how we're doing](https://gitlab.com/gitlab-com/gl-security/appsec/hackerone-questions/) so we can iterate on our program processes.

Here's to 2023 - happy hacking!
