.cmp-why-gitlab.container.slp-container
  .row.u-padding-top-sm
    .col-md-6.u-padding-top-md
      .row
        .col-md-12.u-margin-bottom-sm
          .font-size-2xl.u-margin-bottom-xxs #{current_page.data.why_gitlab_title}
          %p #{current_page.data.why_gitlab_p1}
          %p #{current_page.data.why_gitlab_p2}
    .col-md-5.col-md-offset-1 
      %picture
        %source{media: "(max-width: 959px)", srcset: "/images/home/homepage-illustration-m.svg"}
        %img{src: "/images/home/homepage-illustration-d.svg", alt: "Dev Ops platform", loading: "lazy", style: "max-height: 400px;"}